<div class="collapse bg-dark" id="navbarToggleExternalContent">
    <div class="container">
    <div class="row">
    <div class="col-sm-8 col-md-7 py-4">
      <h5 class="text-white h4">Desenvolvido por Marília</h5>
      <span class="text-muted">API GitHub - Para criar integrações, recuperar dados e automatizar seus fluxos de trabalho, com a API REST do GitHub.</span>
    </div>
    <div class="col-sm-4 offset-md-1 py-4">
      <h4 class="text-white">Contato</h4>
      <ul class="list-unstyled">
        <li><a href="https://www.linkedin.com/in/mar%C3%ADlia-pereira-937152146/" target="_blank" class="text-white">Linkedin</a></li>
        <li><a href="https://github.com/marilia-lila4" target="_blank" class="text-white">GitHub</a></li>
        <li><a href="https://curriculomariliapereira.web.app/" target="_blank" class="text-white">Currículo</a></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
    <a href="" class="navbar-brand d-flex align-items-center"><strong>API GitHub</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <router-outlet></router-outlet>

